<html>

<head>
  <title>Main</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="/static/js/lib/angularjs.1.8.0.js"></script>


  <style>
    table tr {
      height: 20px;
    }

    .container {
      border: 2px solid #dedede;
      background-color: #f1f1f1;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
    }

    .darker {
      border-color: #ccc;
      background-color: #ddd;
    }

    /* Darker chat container */
    .darker {
      border-color: #ccc;
      background-color: #ddd;
    }
  </style>

</head>

<body ng-app="app">
  <input type="hidden" id='server.config' value="<%=config%>" />
  <!-- top nav -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- center -->
  <div class="container-fluid text-center" style="border: 1px solid gold; padding: 10px; height: 800px;">
    <!-- left menu-->
    <div class="col-sm-2 " id="left_panel" style="border: 1px solid rgb(14, 13, 13);" ng-controller="robotInfoCtrl">
      <table class="table">
        <tbody>
          <tr ng-repeat="robot in robotList">
            <td>
              <table class="table">
                <tr>
                  <th scope="row" colspan="2" style="background-color: #bbdefb">wmr-{{robot.name}}
            </td>
          </tr>
          <tr>
            <td>servo</td>
            <td>{{robot.status.servo}}</td>
          </tr>
          <tr>
            <td>docking</td>
            <td>{{robot.status.dock}}</td>
          </tr>
          <tr>
            <td>charging</td>
            <td>{{robot.status.charging}}</td>
          </tr>
          <tr>
            <td>hook</td>
            <td>{{robot.status.hook}}</td>
          </tr>
          <tr>
            <td>cart</td>
            <td>{{robot.status.cart}}</td>
          </tr>
          <tr>
            <td>estop</td>
            <td>{{robot.status.estop}}</td>
          </tr>
          <tr>
            <td>batteryLevel</td>
            <td>{{robot.batteryLevel}}</td>
          </tr>
          <tr>
            <td>pose</td>
            <td>{{robot.pose.x}}, {{robot.pose.y}}, {{robot.pose.theta}}</td>
          </tr>
      </table>
      </td>
      </tr>
      </tbody>
      </table>
    </div>

    <!-- end of left menu -->


    <!-- start center pannel -->
    <div class="col-sm-8" style="border: 1px solid rgb(14, 13, 13);">
      <div class="row content" style="background-color: #dddddd;">
        <div class="col-sm-8" align="left">
          <div class="col-sm-2" align="left"> <b>robot select</b></div>
          <div class="col-sm-3" align="left1">
            <select name="Target Robot" id="robot_select" ng-model="selected_robot">
              <option value="000">undefined</option>
              <option ng-repeat="robot in robotList" value="{{robot.name}}">wmr{{robot.name}}</option>
            </select>
          </div>
          <div class="col-sm-2" align="left"> <b>poi select</b></div>
          <div class="col-sm-2">
            <select id="poi_select" name="poi_select" ng-model="selected_poi">
              <option value="000">undefined</option>
              <option ng-repeat="poi in poi_array" value="{{poi.id}}">{{poi.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <!-- start center button layer-->
      <!-- <div class="row content" style="background-color: #dddddd;"> -->
      <!-- center button div-->
      <div ng-controller="robotCtrl">
        <div class="row content" style="background-color: #dddddd;">
          <div class="col-sm-8">
            <div class="col-sm-2" align="left"> <b>
                <font color="green">Task call</font>
              </b></div>
            <div class="col-sm-8" align="left">
              <input type="button" name="pause" value="재실상황감지" ng-click="reqResidentInfo()" />
              <input type="button" name="resume" value="초기위치로이동" ng-click="gotoInit()" />
              <input type="button" name="resume" value="공동현관문으로출발" ng-click="gotoGate()" />
              <input type="button" name="cancel" value="공동현관문도착알림" ng-click="notiGateReached()" />
              <input type="button" name="cancel" value="엘리베이터로이동" ng-click="gotoElevator()" />
              <input type="button" name="cancel" value="엘리베이터호출" ng-click="callElevator()" />
              <input type="button" name="cancel" value="엘리베이터탑승" ng-click="elevatorBoardOn()" />
              <input type="button" name="cancel" value="택배호출가정으로이동" ng-click="gotoFin()" />
              <input type="button" name="cancel" value="세대앞도착알림" ng-click="notiDeliveryArrival()" />
              <input type="button" name="cancel" value="재실자인증코드전송" ng-click="requestDeliveryCode()" />
              <input type="button" name="cancel" value="베송완료전송" ng-click="requestDeliveryFinish()" />
              <input type="button" name="cancel" value="복귀 - 엘리베이터" ng-click="returnToElevator()" />
              <input type="button" name="cancel" value="복귀 - 공동현관문" ng-click="returnToGate()" />
            </div>
          </div>
        </div>
        <div class="row content" style="background-color: #AAAAAA;">
          <div class="col-sm-8">
            <div class="col-sm-2" align="left">
              <font color="green"><b>Function <br /> call</b></font>
            </div>
            <div class="col-sm-8" align="left">
              <input type="button" name="GotoPOI" value="GotoPOI" ng-click="gotoPOI()" />
              <input type="button" name="PickUP" value="PickUP" ng-click="pickup()" />
              <input type="button" name="DropOff" value="DropOff" ng-click="dropOff()" />
              <input type="button" name="PassDoor" value="PassDoor" ng-click="robotActionControl('cancel')" />
              <input type="button" name="자동충전" value="자동충전" ng-click="autoCharging()" />
              <input type="button" name="충전해재" value="충전해재" ng-click="uncharging()" />
              <input type="button" name="주행취소" value="주행취소" ng-click="cancleGoal()" />
              <input type="button" name="대기" value="대기" ng-click="wait()" />
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <br />
      <div class="row content" ng-controller="mapViewCtrl">
        <div class="col-sm-10" align="left"><canvas id='map_canvas' width="700" , height="500"
            style=" border: 2px solid rgb(14, 13, 13); background-color: #c6dfdd;"></canvas> </div>
      </div>
    </div>
    <!--end of center-->

    <!-- right panel-->
    <div class="col-sm-2 " id="right_panel" style="overflow:scroll; height: 700px;">
      <p> 로그 </p>
      
      <div class="row content"><div class="col-sm-12 container"><p>hello world</p></div> </div>
    </div>
    <!-- end of right panel-->

  </div>
  <!-- end of row contaent-->
  </div>
  <!-- end of container-->


  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.05); height: 50px;">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
  </div>

</body>

<script src="/static/js/lib/three.js"></script>
<script src="/static/js/lib/cam.js"></script>
<script src="/static/js/lib/roslib.js"></script>
<script src="/static/js/lib/stomp.js"></script>
<script src="/static/js/broker/wstomp.js"></script>
<!-- <script src="/static/js/lib/mqttws32-min.js"></script> -->
<script src="/static/js/lib/mqttws31.js"></script>
<!-- <script src="/static/js/lib/mqtt.min.js"></script> -->
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script src="/static/js/broker/mqtt_broker.js"></script>
<script src="/static/js/main_view.js"></script>
<script src="/static/js/map_view/map.js"></script>
<script src="/static/js/map_view/transform.js"></script>
<script src="/static/js/map_view/robot.js"></script>
<script src="/static/js/angular_modules/app_modules.js"></script>
<script src="/static/js/angular_controllers/robot_controller.js"></script>
<script src="/static/js/angular_controllers/robotinfo_controller.js"></script>
<script src="/static/js/angular_controllers/mapview_controller.js"></script>

const mqtt = require('mqtt');

</html>